*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

header{
  background-color: red;
  width: 100%;
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 150px;
}

nav ul li{
  display: inline-block;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
}

nav span {
  color: white;
  font-size: 25px;
}


